# Torrent client type: 
# "transmission" or "qbittorrent"
CLIENT_TYPE=transmission

# Transmission setting
TR_IP=localhost
TR_PORT=9091
TR_USERNAME=admin
TR_PASSWORD=admin

# qBittorrent settings
QBIT_HOST=localhost
QBIT_PORT=8080
QBIT_USERNAME=admin
QBIT_PASSWORD=adminadmin
