<!DOCTYPE html>
<html>
<head>
    <title>Removarr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Files List</h1>
        <p id="total-size"></p>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Inode</th>
                    <th>File Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="file-list">
            </tbody>
        </table>
    </div>
    <script>
        function refreshFileList() {
            $.getJSON('/files', function(data) {
                $('#file-list').empty();
                $.each(data.result, function(i, file) {
                    var row = '<tr><td>' + file.inode + '</td><td>' + file.filename + '</td><td><button type="button" class="btn btn-danger" onclick="deleteFile(' + file.inode + ')">Delete</button></td></tr>';
                    $('#file-list').append(row);
                });
                $('#total-size').text('Total size = ' + data.total_size);
            });
        }

        function deleteFile(inode) {
            if (confirm('Are you sure you want to delete this file?')) {
                $.ajax({
                    url: '/files/' + inode,
                    type: 'DELETE',
                    success: function(result) {
                        alert(result.message);
                        refreshFileList();
                    },
                    error: function(result) {
                        alert(result.responseJSON.error);
                    }
                });
            }
        }

        $(document).ready(function() {
            // Call the refreshFileList function to display the list of files when loading the page
            refreshFileList();
            // Refresh the list of files every 5 seconds
            setInterval(refreshFileList, 5000);
        });
</script>
</body>
</html>


